<div class="container">
  <h2 class="page-header"> Student Information Center</h2>
  <form (submit)="addstudent()">
    <div class="form-group">
      <label>Roll Number</label>
      <input type="text" [(ngModel)]="studentinfo.roll_no" placeholder={{label}} name="roll_no" class="form-control">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="studentinfo.first_name" placeholder={{label}} name="first_name" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="studentinfo.last_name" name="last_name" class="form-control">
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" [(ngModel)]="studentinfo.phone" name="phone" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="studentinfo.email" placeholder={{label}} name="email" class="form-control">
    </div>
    <input type="submit" class="btn btn btn-success" value="Add">
    <input type="button" class="btn btn-info" (click)="update()" value="Update">
  </form>
</div>

<hr>
<div class="row">
<div class="container">
  <div *ngFor = "let student of students">
      <div class = "col-md-2">
        {{student.roll_no}}
      </div>
    <div class = "col-md-2">
      {{student.first_name}}
    </div>
    <div class = "col-md-2">
      {{student.last_name}}
    </div>
    <div class = "col-md-2">
      {{student.phone}}
    </div>
    <div class = "col-md-2">
      {{student.email}}
    </div>
    <div class = "col-md-2">
      <input type= "button" (click) = "deletestudent(student._id)" value="Delete" class="btn btn-danger">
      <button class="btn btn-warning" (click) = "editstudent(student._id)">Edit</button>
      <br><br>
    </div>
  </div>
</div>
</div>
